<form method="post" id="form">
  {% csrf_token %}
  <label for="title">title:</label>
  <input name="title" id="title" type="text">
  <button type="submit">submit</button>
</form>
<button onclick="new_choice()">add choice</button>

<script type="text/javascript">
    const form = document.getElementById("form")
    let cnt = 1

    const new_choice = (event) => {
        const choice = document.createElement('div')
        choice.id = `${cnt}`

        choice.innerHTML = `
    <label for="choice${cnt}">choice : </label>
      <input type="text" name="choice_text" id="choice${cnt}">
      <button type="button" onclick="removeChoice(${cnt})">X</button>
  `
        cnt += 1
        form.append(choice)
    }

    const removeChoice = (cnt) => {
        form.removeChild(document.getElementById(cnt.toString()))
    }

</script>